.popAdjust{
    /* background-color: PINK; */
    border: 1px solid #ccc;
    
    border-radius: 5px;
    width: 1150px;
    margin: auto;
  }
  .auctionName{
    position: relative;
    left: 24px;
  }

  .des{
    width: 650px;
  }
 /* style for input fields  */


 @media (min-width:300px) and (max-width:499.98px){
  label{
    width: 205px;
  }
  .popAdjust{
    background-color: yellow;
    width: 360px;
  }
  .nameInp{
    /* background-color: yellow !important; */

    width: 317px !important;
    padding: 8px !important;
    border: 1px solid rgb(204, 204, 204) !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
  }

  .check{
    display: flex;
    background-color: yellow;
    /* width: 471px; */
    /* position: relative;
}
.des{
  /* background-color: yellow !important; */
  width: 300px !important;
}

.auction-mode{
  /* background-color: yellow !important; */

  width: 130px !important;
  position: relative;
  right: 50px;

}
 }


 @media (min-width:1400px) and (max-width:1440px){
  label
 {
   /* background-color: red !important; */
   width: 205px;
 }
  .nameInp{
    /* background-color: cyan !important; */

    width: 317px !important;
    padding: 8px !important;
    border: 1px solid rgb(204, 204, 204) !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
  }

  .check{
    /* background-color: cyan; */
    /* width: 870px; */
    /* position: absolute;
    right:60px; */
}
.des{
  /* background-color: cyan !important; */
  width: 324px !important;
}

.auction-mode{
  /* background-color: cyan !important; */
  width: 140px !important;
  position: relative;
  /* right: 46px; */

}
  }
  @media (min-width:500px) and (max-width:575.98px){
    label{
      width: 205px;
    }
    .popAdjust{
      /* background-color: yellow; */
      width: 435px;
    }
    .nameInp{
      /* background-color: yellow !important; */
  
      width: 310px !important;
      padding: 8px !important;
      border: 1px solid rgb(204, 204, 204) !important;
      border-radius: 4px !important;
      box-sizing: border-box !important;
    }
  
    .check{
      display: flex;
      /* background-color: yellow; */
      /* width: 471px; */
      /* position: relative;
  }
 
  
   @media (min-width:1400px) and (max-width:1440px){
    label
   {
     background-color: red !important;
     width: 205px;
   }
    .nameInp{
      /* background-color: cyan !important; */
  
      width: 310px !important;
      padding: 8px !important;
      border: 1px solid rgb(204, 204, 204) !important;
      border-radius: 4px !important;
      box-sizing: border-box !important;
    }
  
    .check{
      /* background-color: cyan; */
      /* width: 870px; */
      /* position: absolute;
      right:60px; */
  }
  .des{
    /* background-color: cyan !important; */
    width: 324px !important;
  }
  
  .auction-mode{
    /* background-color: cyan !important; */
    width: 140px !important;
    position: relative;
    right: 46px;
  
  }
    }
  

    @media (min-width:576px) and (max-width:767.98px){
      label{
        width: 205px;
      }
      .popAdjust{
        /* background-color: orange; */
        width:540px;
      }
      .nameInp{
        /* background-color: yellow !important; */
    
        width: 210px !important;
        padding: 8px !important;
        border: 1px solid rgb(204, 204, 204) !important;
        border-radius: 4px !important;
        box-sizing: border-box !important;
      }
    
      .check{
        display: flex;
        /* background-color: yellow; */
        /* width: 471px; */
        /* position: relative;
    }
   
    
     @media (min-width:1400px) and (max-width:1440px){
      label
     {
       background-color: red !important;
       width: 205px;
     }
      .nameInp{
        /* background-color: cyan !important; */
    
        width: 210px !important;
        padding: 8px !important;
        border: 1px solid rgb(204, 204, 204) !important;
        border-radius: 4px !important;
        box-sizing: border-box !important;
      }
    
      .check{
        /* background-color: cyan; */
        /* width: 870px; */
        /* position: absolute;
        right:60px; */
    }
    .des{
      /* background-color: cyan !important; */
      width: 324px !important;
    }
    
    .auction-mode{
      /* background-color: cyan !important; */
      width: 140px !important;
      position: relative;
      right: 46px;
    
    }
      }
    
      @media (min-width:768px) and (max-width:991.98px){                                                                                                  
        label
{
 /* background-color: red !important; */
 width: 205px;
}
        .popAdjust{
          /* background-color: orange; */
          width: 745px;
        }
        .nameInp{
          /* background-color: magenta !important; */
      
          width: 195px !important;
          padding: 8px !important;
          border: 1px solid rgb(204, 204, 204) !important;
          border-radius: 4px !important;
          box-sizing: border-box !important;
        }
      
        .check{
          /* background-color: magenta; */
          width: 641px;
          position: relative;
          right: 60px;
      }
      .des{
        /* background-color: magenta !important; */
        width:447px !important;
      }
      
      .auction-mode{
        /* background-color: magenta !important; */
      
        width: 108px !important;
      
      }


 
       label {
        /* background-color: green !important; */
      }
     
        }

  @media (min-width:1200px) and (max-width:1399.98px){
    label
 {
   /* background-color: red !important; */
   width: 205px;
 }
    .nameInp{
      /* background-color: pink !important; */
  
      width: 209px !important;
      padding: 8px !important;
      border: 1px solid rgb(204, 204, 204) !important;
      border-radius: 4px !important;
      box-sizing: border-box !important;
    }
  
    .check{
      /* background-color: pink; */
      width: 870px;
      position: absolute;
      right:60px;
  }
  .des{
    /* background-color: pink !important; */
    width: 680px !important;
  }
  
  .auction-mode{
    /* background-color: pink !important; */
  
    width: 150px !important;
  
  }
    }

    @media (min-width:1400px) and (max-width:1500px){
      label
 {
   /* background-color: red !important; */
   width: 205px;
 }
      .nameInp{
        /* background-color: pink !important; */
    
        width: 300px !important;
        padding: 8px !important;
        border: 1px solid rgb(204, 204, 204) !important;
        border-radius: 4px !important;
        box-sizing: border-box !important;
      }
    
      .check{
        /* background-color: pink; */
        width: 870px;
        position: absolute;
        right:60px;
    }
    .des{
      /* background-color: pink !important; */
      width: 680px !important;
    }
    
    .auction-mode{
      /* background-color: pink !important; */
    
      width: 150px !important;
    
    }
      }

      @media (min-width:1200px) and (max-width:1399.98px){
        label
   {
     /* background-color: red !important; */
     width: 205px;
   }
        .nameInp{
          /* background-color: pink !important; */
      
          width: 209px !important;
          padding: 8px !important;
          border: 1px solid rgb(204, 204, 204) !important;
          border-radius: 4px !important;
          box-sizing: border-box !important;
        }
      
        .check{
          /* background-color: pink; */
          width: 870px;
          position: absolute;
          right:60px;
      }
      .des{
        /* background-color: pink !important; */
        width: 680px !important;
      }
      
      .auction-mode{
        /* background-color: pink !important; */
      
        width: 150px !important;
      
      }
        }


      @media (min-width:992px) and (max-width:1199.98px){
        label{
          width: 205px;
        }
        .popAdjust{
          /* background-color: purple; */
          width: 950px;
        }
        .nameInp{
          /* background-color: yellow !important; */
      
          width: 209px !important;
          padding: 8px !important;
          border: 1px solid rgb(204, 204, 204) !important;
          border-radius: 4px !important;
          box-sizing: border-box !important;
        }
      
        .check{
          /* background-color: yellow; */
          width: 859px;
          position: absolute;
          right: 60px;  
      }
      .des{
        /* background-color: yellow !important; */
        width: 580px !important;
      }
      
      .auction-mode{
        /* background-color: yellow !important; */
      
        width: 150px !important;
      
      }
        }


     









 